/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.btn-brand{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #312783;
    transition: .5s;
}
.btn-brand:hover{
    box-shadow: 5px 5px 10px #fff, -5px -5px 10px #ebebeb;
    border: none;
}